body {
    max-width: 1230px;
    background-color: #eee;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.detail {
    width: 50%;
}

.header {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
}

.header-icon a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 68, 255);
}

.alert-danger {
    padding: 10px;
    background-color: rgb(255, 218, 218);
}

.alert-danger li {
    list-style: none;
    padding: 5px;
}

.explanation {
    margin: 0 20px;
}

.explanation-name {
    display: flex;
}

.explanation-name a {
    text-decoration: none;
}

.explanation_arrow {
    padding: 5px 8px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.explanation-ttl {
    margin: auto 0;
    margin-left: 10px;
    font-size: 32px;
}

.explanation-img img {
    width: 100%;
}

.explanation-tag {
    margin-top: 20px;
    font-size: 14px;
}

.explanation-tag-item {
    display: inline-block;
}

.reservation {
    width: 50%;
    padding: 50px 20px 0 20px;
}

.reservation-form {
    height: 100%;
}

.reservation-content {
    background-color: rgb(49, 104, 255);
    color: #fff;
    height: 100%;
    position: relative;
}

.reservation-ttl {
    padding: 1px 20px;
}

.reservation-inputs {
    padding: 1px 20px;
}

#date,
#time,
#number {
    display: block;
    padding: 5px 10px;
}

#time,
#number {
    margin-top: 8px;
    width: 90%;
}

.reservation-detail {
    background-color: rgb(77, 124, 255);
    margin: 15px 100px 0 20px;
    padding: 20px 0;
}

.flex {
    display: flex;
}

.reservation_list p:first-child {
    width: 30%;
    text-align: left;
    padding-left: 20px;
}

.reservation_list p :not(:first-child) {
    width: 70%;
}

.reservation_list p {
    margin: 5px 0;
}

.reservation-btn {
    background-color: rgb(0, 68, 255);
    color: #fff;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }

    .detail {
        width: 100%;
    }

    .reservation {
        width: 100%;
    }

    .reservation-content {
        height: 450px;
    }
}